.ranking-container {
    display: flex;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .ranking-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .city-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .city-list li {
    margin: 5px 0;
  }
  
  .city-filter {
    margin-bottom: 20px;
  }
  
  .city-filter label {
    margin-right: 10px;
  }
  
  .ranking-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-right: 20px;
  }
  
  .ranking-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .ranking-subtitle {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .ranking-list {
    list-style-type: none;
    padding: 0;
  }
  
  .ranking-item {
    margin-bottom: 15px;
  }
  
  .candidate-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .candidate-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  
  .candidate-name {
    font-weight: bold;
  }
  
  .candidate-details p {
    margin: 5px 0;
  }
  
  .vaga-status.success {
    color: green;
  }
  
  .vaga-status.fail {
    color: red;
  }
  
  .no-vagas-column {
    width: 300px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
  }
  
  .no-vagas-section {
    margin-bottom: 20px;
  }
  
  .no-vagas-list {
    list-style-type: none;
    padding: 0;
    border-top: 2px solid #ddd;
    padding-top: 10px;
  }
  
  .ranking-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .ranking-position {
    margin-right: 10px;
  }
  

/* Estilo para o container do select de cidade */
.city-select-container {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .city-select-container label {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .city-select-container select {
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }
  
  .city-select-container select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  