.brand-grid-container {
    display: flex;
    flex-direction: column; /* Coluna flexível */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 20px; /* Espaço entre o título e a grid */
  }
  
  .brand-grid-title {
    margin-top: 0; /* Remove o espaço extra acima do título */
    margin-right: 65%;
  }
  
  .brand-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura igual */
    gap: 10px; /* Espaçamento entre as logos */
  }
  
  .brand-logo {
    max-width: 100%; /* Garante que as logos não ultrapassem o tamanho máximo do grid */
    border-radius: 30px;
  }