.carrinho-de-compras {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  margin: 0 auto; /* Isso centralizará o carrinho na tela */
}

.itens-carrinho {
  display: flex;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}

.itens-acao {
  width: 98px;
}
  
  .item {
    list-style: none;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .itens-price-acao{
    display: flex;
  }

  .itens-price{
    width: 150px;
  }

  .itens-price-descricao{
    height: 80px;
  }

  .imagem-produto {
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  
  .botao-acao {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
  }

  .botao-acao-remover {
    background-color: transparent;
    color: gray;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    bottom: 100px;
    left: 105px;
    
  }

  .input-acao{
    width: 20px;
    margin: 5px;
    text-align: center;
  }
  
  .botao-acao:hover {
    background-color: #0056b3;
  }
  
  .total {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .botao {
    margin-top: 10px;
    width: 100%;
    background-color: #ca8217;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .botao:hover {
    background-color: #218838;
  }
  